<div class="row">
  <div class="jumbotron">
    <div class="form-group">
      <input type="text" class="form-control" id="input" ng-model="$ctrl.maVariable" />
      <button ng-click="$ctrl.ajouterAListe()" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
</div>
<div class="row">
      <div class="col-md12">
        <ul>
          <li ng-repeat="el in $ctrl.maListe track by $index">
          {{el | capitalize}}
    <span ng-click="$ctrl.suprimmerAListe(el)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>

          </li>
        </ul>
      </div>
</div>
