<div class="row">
  <div class="jumbotron">
    <h1>Hello World!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md6">
    <div class="form-group">
      <input type="text" class="form-control" id="input" ng-model="$ctrl.maVariable" />
    </div>
  </div>
      <div class="col-md6">
          <h2>Afficher</h2>
        <!--  <p>{{$ctrl.capitalize($ctrl.maVariable)}}</p> -->
        <p>
          {{$ctrl.maVariable | capitalize}}
        </p>
        <ul>
          <li ng-repeat="el in $ctrl.maListe">{{el}}</li>
        </ul>
      </div>
</div>
