<div class="row">
  <div class="jumbotron">
    <div class="form-group">
      <input type="text" class="form-control" id="input" ng-model="$ctrl.maVariable" />
      <button ng-click="$ctrl.ajouterAListe()" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
</div>
<!--
<div class="row">
      <div class="col-md12">
        <ul>
          <li ng-repeat="el in $ctrl.maListe track by $index">
        <a ui-sref="app.movie({movieId: el})"> {{el | capitalize}} </a>
    <span ng-click="$ctrl.suprimmerAListe(el)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </li>
        </ul>
      </div>
</div>
-->
<!--
<div class="row">
      <div class="col-md12">
        <poster ng-repeat="m in $ctrl.movies" movie="{id:m.id, poster_path:m.poster_path}"></poster>
      </div>
</div>
-->

    <div ng-repeat="m in $ctrl.movies" ng-if="$index % 3 == 0" class="row">
        <div class="col-md-4"><poster movie="{id:$ctrl.movies[$index].id, poster_path:$ctrl.movies[$index].poster_path}"></poster></div>
        <div class="col-md-4" ng-if="$ctrl.movies.length > ($index + 1)"><poster movie="{id:$ctrl.movies[$index+1].id, poster_path:$ctrl.movies[$index+1].poster_path}"></poster></div>
        <div class="col-md-4"ng-if="$ctrl.movies.length > ($index + 2)"><poster movie="{id:$ctrl.movies[$index+2].id, poster_path:$ctrl.movies[$index+2].poster_path}"></poster></div>
    </div>

<!--
<div class="row">
      <div class="col-md12">
        <ul>
          <li ng-repeat="movie in $ctrl.movies">
            <a ui-sref="app.movie({movieId: movie.id})">  <img  ng-src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" alt="Description" /> </a>
          </li>
        </ul>
      </div>
</div>

-->
