body {
		font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;
	color:#7c7c7c;
	  padding-top: 50px;
  padding-bottom: 20px;
}


.row{
	padding-top:10px;
	padding-bottom:10px;
	margin-right:0px;
	margin-left:0px;
	}


.desc {
    overflow: hidden;
    height: 100px;
		text-overflow: ellipsis;
}
.desc:before {
    content: "";
    float: left;
    width: 5px;
    height: 100px;
}

.imgPoster{
	width:185px;
	height:252px
}

.thumbnail{
	height: 480px;
}