body {
	font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;
	color: #F2F2F2;
	padding-top: 50px;
  	padding-bottom: 20px;
  	background-color: #333639;
}

.row{
	padding-top:10px;
	padding-bottom:10px;
	margin-right:0px;
	margin-left:0px;
	}

.desc {
    overflow: hidden;
    height: 100px;
	text-overflow: ellipsis;
}

.desc:before {
    content: "";
    float: left;
    width: 5px;
    height: 100px;
}

.imgPoster{
	width:185px;
	height:252px;
	margin-top:20px;
}

.thumbnail{
	height: 500px;
	background-color: #393C3F;
	border-color: dimgrey;
}

.thumbnail .caption {
    color: #F2F2F2;
}

.navbar {
	background-color: #212427;
}

.jumbotron{
	background-color: #212427;
}

.navbar-default{
	border-color: dimgrey;
}

a:hover{
	color: dimgrey;
	border-color: #212427;
}

.homeMenu {
	background-color: #212427;
	border-color: #212427;
}

.homeMenu:hover {
	border-color: #212427;
}

.btn{
	border-color: dimgrey;
	background-color: #212427;
	color: dimgrey;
}